#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 95px;
    height: 15%;
    background-color:mediumturquoise;
    box-shadow:5px 5px 20px rgba(0 0 0 0.05);
    z-index:999;
    position:sticky;
    top:0;
    left:0;
    border-radius: 10px;
    
}
.logo{
    height:100%;
    width:100%;
    position:top-left;
}
#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
#navbar li{
    list-style-type:none;
    padding:0 20px;
}
#navbar li a{
    text-decoration:none;
    font-size:15px;
    font-weight:600 ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:black;
}
#navbar li a:hover{
    color:floralwhite;
}
#Offer{
    background-image:url("image/excited7.jpg");
    height:100%;
    width:100%;
    background-position: top 10% left 10%;
    background-size:cover;
    padding-top: 0 50px;
    display:block;
    flex-direction: column;
    align-items:start;
    border:1px solid mediumturquoise ;
    border-radius: 10px;
   
}
h2,h1{
    font-size:40px;
    font-weight: 700;

}
h1,button{
    color:darkcyan;
}

h3,h4,button{
    font-size:30px;
    font-weight:700 ;
}
h1,h2,h3,h4,button{
    font-style:normal;
    font-family: 'Courier New', Courier, monospace;
  
   
}

.section-css{
    padding: 40px 70px;
}
#Features .fe-box{
    width: 30%;
    text-align: center;
    padding: 5px 5px;
    box-shadow:10px 20px 34px rgb(189, 187, 187);
    border: 1px solid black ;
    width:10%;
    height:5% ;
    border-radius:10px ;
    margin:5px 0;

}
#Features .fe-box:hover{
    box-shadow:10px 10px 54px rgb(155, 152, 152);
}
#Features .fe-box h5{
    font-size:15px;
    padding:1px 1px 1px 1px;
    line-height: 2;
    /* border-radius: 20px; */
    color:black;
    background-color:mediumturquoise;
   
}
#Features{
    background-color:lightgray;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius:10px ;
}
#Features .fe-box img{
    width:50%;
    margin-bottom: 10px;
}

/* .fe-box img{
    height:30%;
    width:20%;
} */
.star{
    color:rgb(237, 76, 17);
    font-size: 15px;
}


#product1{
    text-align: center;
}
#product1 .pro{
     width:25%;
     min-width: 250px;
     padding:10px 15px;
     border:1px solid rgb(180, 177, 177);
     border-radius: 25px;
     cursor: pointer;
     box-shadow: 20px 20px 30px rgb(204, 202, 202);
     margin: 20px 0;
     position:relative;
}
p{
    font-size: 30px;
}
#product1 .pro img{
    width:100%;
    border-radius: 25px;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgb(143, 142, 142) ;
}
#product1 .pro .specification{
    text-align: start;
    padding:10px 0;
}
#product1 .pro .specification span{
    color:rgb(45, 40, 40);
    font-size: 18px;
}
#product1 .pro .specification h5{
    padding:5px;
    color:rgb(16, 15, 15);
    font-size: 20px;
}
#product1 .pro .specification h3{
    padding-top: 5px;
    font-size: 20px;
    font-weight: 700;
    color:rgb(9, 108, 105);
}
#product1 .pro .shopping{
    width:80px;
    height:70px;
    line-height: 50px;
    border-block: 60px;
    background-color:beige;
    font-weight: 600;
    color:rgb(9, 109, 105);
    border:1px solid rgb(169, 167, 167);
    position: absolute;
    bottom:20px;
    right: 15px;
}
#product1 .pro-container{
    display:flex;
    justify-content: space-between;
    padding-top: 15px;
    flex-wrap: wrap;
}